<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://earthquake6215.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>earthquake6215.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>earthquake6215</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$earthquake6215</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:yoqirkdh9s.database.windows.net,1433;Initial Catalog=earthquake6215_db;User ID=tommy7965@yoqirkdh9s;Password=Kevin7965613" Name="Data Source=tcp:yoqirkdh9s.database.windows.net,1433;Initial Catalog=earthquake6215_db;User Id=tommy7965@yoqirkdh9s;Password=Kevin7965613;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="earthquake.Models.ApplicationDbContext, earthquake" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EQdbConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=yoqirkdh9s.database.windows.net;Initial Catalog=EQdb;Persist Security Info=True;User ID=tommy7965;Password=Kevin7965613" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EQdbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=yoqirkdh9s.database.windows.net;Initial Catalog=EQdb;Persist Security Info=True;User ID=tommy7965;Password=Kevin7965613" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:yoqirkdh9s.database.windows.net,1433;Initial Catalog=earthquake6215_db;User Id=tommy7965@yoqirkdh9s;Password=Kevin7965613;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>